/* TOP 1ST PROBLEM */
.title {
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
/* TOP 2ND PROBLEM  */
.odd-numbered {
    background-color: rgb(255, 167, 167);
    font-size: 12px;
    font-family: Verdana, "DejaVu Sans", sans-serif
}

.font-size {
    font-size: 24px;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

#fourth {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
}
/* TOP 3RD PROBLEM */
.one,
.two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.one {
    background-color: black;
    color:white
}

.two {
    background-color: yellow;
}
/* TOP 4TH PROBLEM */
.avatar,
.proportioned {
    height: auto;
    width: 300px;
}

.avatar,
.distorted {
    width: 200px;
    height: auto;
}

.distorted {
    height: 300px;
}
/* TOP 5TH CSS PROBLEM */
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}